/* .btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
} */

body {
  background: #e0e0e0;
  min-height: 100vh !important;
}

footer {

  margin-top: 24px;
  /* position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px; */
}